{
  "env": {
    "jasmine": true,
    "mocha": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "globals": {
    "sinon": true,
    "sandbox": true,
    "assert": true,
    "proxyFetch": true
  }
}
