/*
 * Custom styles
 */

/* Google Design Colors */
/* $color-grey-00: rgba(33,150,243,1); /* 2196F3 */



/* Colors
 * rgba(21,21,21,1); /* 151515 */
 */

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: rgba(250,250,250,1);
}

.fill {
  min-height: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  font-weight: 300;
}

.input-lg {
  font-size: 13px;
  height: 45px;
}

hr {
  border: none;
  margin: 0;
  /*border-top: 1px solid rgba(34,34,34,0.0);*/
}

h1, h3 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 25px;
}

/* Navbar */

.right-navbar a {
  padding-right: 5px;
  padding-left: 5px;
}

/* Header */
.header {
  position: relative;
  z-index: 9000;
  background-color: transparent;
  color: rgba(255,255,255,1);
  margin-top: 0;
}

.footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 9000;
  background-color: rgba(14,60,132,1);
  color: rgba(255,255,255,1);
}

.header-container {
  height: 48px;
  margin: 0 auto;
  padding: 3px 0;
  max-width: var(--max-content-width);
  text-align: center;
}

.header-container ul {
  list-style: none;
}

.navbar-toggle {
  border: none;
  float: left;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 11px;
  height: 1px;
  border-radius: 1px;
  background-color: rgba(255,2555,255,1);
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}

.navbar-toggle:focus {
  outline: 0;
}

.nav > li > a {
  padding: 10px 34px 13px 34px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active  { 
  background-size: 35px 2px;
  background-position: center bottom 0px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.nav-icon {
  width: 16px;
  height: 16px;
}

.nav {
  display: inline-block;
}

.nav .nav-center {
  left: 0;
  right: 0;
  margin-top: 8px;
  float: none;
}

.brand-wrap {
  padding: 25px 15px;
  text-align: center;
}

.chord-logo {
  width: 65px;
}

/* Layout */
.layout {
  height: 100%;
  overflow-y: scroll;
}


/* ------------------------------------------------------------------------ */


/* idcard */
.idcard {
  position: relative;
  border-radius:.25rem;
  border: .0625rem solid rgba(229,229,229,1);
}
.idcard-blockchainid:before {
  position: absolute;
  margin-top: 0;
  content: "+";
  font-size: 0.775rem;
}

.idcard-blockchainid {
  margin-bottom: 20px;
}
.idcard-blockchainid > h4 {
  display: block;
  padding-left: 12px;
  font-size: 0.875rem;
}

/* idcard specifics */

.id-flex img {
  width: 317px;
  height: 473px;
  object-fit: cover;
  margin: 0 10px;
  bottom: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.id-flex {
  display: table-cell;
  vertical-align: top;
  bottom: 0;
  width: 317px;
  height: 473px;
  margin:0 10px;
}
ul {
  padding: 0;
}

.idcard-block {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.idcard-block > p {/*font-size:0.875rem;*/}
.id-social {
  position: absolute;
  top: 165px;
  width: 317px;
  margin-left: -20px;
  height: 45px;
  background-color: rgba(34,34,34,0.35);
}
.id-social > div > ul > li {
  display: inline;
}
.id-social > div > ul > li a > span {
  display: none;
}
.idcard-name {
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 5px;
}

.id-social > div > ul {
  list-style: none;
  height: 39px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.id-social > div > ul > li a {
  vertical-align:middle;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:rgba(255,255,255,1);
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
}
i.fa {
  display: inline-block;
  font-size: 16px;
  text-align: right;
  padding: 8px;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
.id-social > div > ul > li a > span {padding-left:5px; font-size:0.812rem;}

.idcard-wrap {
  padding: 10px 30px;
  position: absolute;
  top: 355px;
  color: rgba(255,255,255,1);
  font-weight: inherit;
}

.overlay {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  width: 317px;
  height: 473px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin:-473px 10px 10px 10px;
}

.form-control {
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(240,240,240,1);
  color: rgba(34,34,34,1);
  font-weight: 300; 
}

.form-control:hover, .form-control:focus {
  box-shadow: none;
  color: rgba(34,34,34,1);
}

.form-control::-webkit-input-placeholder { color: rgba(180,180,180,1); }
.form-control:-moz-placeholder { color: rgba(180,180,180,1); }
.form-control::-moz-placeholder { color: rgba(180,180,180,1); }
.form-control:-ms-input-placeholder { color: rgba(180,180,180,1); }

.btn {
  width: 100%;
  border-radius: 0;
  margin: 10px 0 25px 0px;
  font-weight: 300;
  padding: 8px;
}

.btn-primary {
  background-color: rgba(74,144,226,1);
  color: rgba(255,255,255,1);
  border:1px solid rgba(74,144,226,1);
}

.profile-dropdown-tab {
  padding: 20px 0px 0px 20px;
}

.col-without-padding {
  padding-right: 0px;
  padding-left: 0px;
}

