/* Styles */

/* Custom styles */
.body-main{width:100%;height:100%;}
.body-landing{width:100%;height:100%;}
.body-inner{width:100%;height:100%;}
.bkg-light{background-color:#FAFAFA;}
.wrapper{width:100%;}
.no-padding{padding-right:0;padding-left:0;}
.bookmarks-temp{padding:0;border-radius:4px;}

.col-12{margin-right:0;}

/* ID card */
.idcard{position:relative;border:.0625rem solid rgba(229,229,229,1);border-radius:.25rem;}
.dim{color:#7b7b7b;}
.id-flex img, .id-flex .dropzone {bottom:0;width:16.25rem;height:371px;-webkit-border-radius:8px;border-radius:8px;object-fit:cover;}
.id-flex{bottom:0;display:table-cell;width:16.25rem;height:371px;vertical-align:top;}
.id-social > div > ul{height:39px;margin-top:5px;margin-bottom:5px;margin-left:15px;list-style:none;}
.id-social > div > ul > li a{line-height:32px;overflow:hidden;height:32px;padding-left:10px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;color:rgba(255,255,255,1);}
i.fa{display:inline-block;margin-top:3px;margin-right:5px;margin-left:5px;font-weight:600;}
.id-social > div > ul > li a > span{padding-left:5px;}
.overlay{position:absolute;width:16.25rem;height:371px;margin:-371px 0 0 0;-webkit-border-radius:8px;border-radius:8px;background-color:rgba(0,0,0,.2);}
.profile-accounts {margin:0;}
.profile-accounts .fa-stack .fa {line-height:2rem;}
div.profile-accounts > ul{padding-left:0;list-style-type:none;}
div.profile-accounts > ul > li {margin-bottom: 1px;padding-left:15px;padding-right:15px;}
div.profile-accounts > ul > li > a,div.profile-accounts > ul > li > button{display:block;padding:15px 5px;text-decoration:none;color:#080809;font-weight:600}
div.profile-accounts > ul > li.verified {background-color:#2c96ff;}
div.profile-accounts > ul > li.verified > a,div.profile-accounts > ul > li.verified > button{color:#fff;}
div.profile-accounts > ul > li.pending {background-color:#fff;}
div.profile-accounts > ul > li.pending > a,div.profile-accounts > ul > li.pending > button{color:#AEAEAE;}
div.profile-accounts > ul > li > a > span.app-account-service {color:#95CAFF;margin-left:10px;}
div.profile-accounts > ul > li > a > span.app-account-service {margin-left:10px;}
div.profile-accounts > ul > li.verified > a > span.app-account-service {color:#95CAFF;}
div.profile-accounts > ul > li.pending > a > span.app-account-service {color:#C7C7C7;}

div.edit-profile-accounts .account {color:#fff;margin-bottom:1px;background-color:#2c96ff;cursor:pointer}
div.edit-profile-accounts .account.verified {color:#fff;background-color:#2c96ff;}
div.edit-profile-accounts .account.pending {color:#AEAEAE;background-color:#fff;}
div.edit-profile-accounts .account.collapsed {padding:15px 15px;}
div.edit-profile-accounts .account {padding:15px 15px 30px 15px;}
div.edit-profile-accounts .account > span.app-account-identifier {font-weight:600}
div.edit-profile-accounts .account > span.app-account-service {color:#95CAFF;margin-left:10px;}
div.edit-profile-accounts .account.verified > span.app-account-service {color:#95CAFF;}
div.edit-profile-accounts .account.pending > span.app-account-service {color:#AEAEAE;}
div.edit-profile-accounts .account .form-group {margin-top:20px;}
div.edit-profile-accounts .account .form-group input.form-control {color:#fff;background-color:rgba(255,255,255,0.4);border:1px solid rgba(255,255,255,0.4);}
div.edit-profile-accounts .account.verified .form-group input.form-control {color:#fff;background-color:rgba(255,255,255,0.4);border:1px solid rgba(255,255,255,0.4);}
div.edit-profile-accounts .account.pending .form-group input.form-control {color:#4B4B4B;background-color:#FAFAFA;border:1px solid #FAFAFA;}
div.edit-profile-accounts .account.placeholder.collapsed {color:#C7C7C7;background-color:transparent;}
div.edit-profile-accounts .account.placeholder.collapsed > span.app-account-service {color:#C7C7C7;}
div.edit-profile-accounts .account.placeholder > span.app-account-service {color:#4B4B4B;}
div.edit-profile-accounts .account.placeholder {color:#4B4B4B;background-color:#fff;}
div.edit-profile-accounts .account.placeholder .form-group input.form-control {color:#fff;background-color:#FAFAFA;border:1px solid #FAFAFA;}

/*div.profile-accounts > ul > li > a:hover,div.profile-accounts > ul > li > button:hover{text-decoration:none;color:#fff;border-radius:4px;background-color:#2c96ff;}*/
.profile-foot{position:relative;display:block;margin-left:15px;padding-top:50px;color:#949494;}
.connections{display:inline-block;width:32px;height:32px;margin-left:15px;border-radius:4px;background-color:#23262a;}

/* Content section */
.title-version{width:150px;}

/* Views */
/* Views Landing view */
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper{top:0;width:100%;height:100%;}
.site-wrapper-inner{display:table-cell;min-height:100%;vertical-align:top;background-repeat:no-repeat;background-attachment:fixed;background-position:center;background-size:cover;}
.cover-container{margin-right:auto;margin-left:auto;}
.out-block-wrap{width:576px;}
.out-block{width:490px;}
.text-feat-dash{padding:12px;margin-bottom:0;}
a.view-out-link{color:#494f56;}

.fa-green{color:#1d9d74;}
.app-account-identifier{margin-left:10px;}

/* Guy quick */
.profile-wrap{max-width: 800px;}
.profile-wrap-wide{max-width: 1050px;}
.app-text-container h3{text-align: center;}



/* Styles ported over from profiles.css */

/* Table of Contents */

/*  1. Colors */
/*  2. Options */
/*  3. Spacing - Note: b4 has resolved a lot of spacing issues. for this version we are utilizing the custom spacing rules from blockstack.com. Upon import of blockstack-bootstrap, go through styles and replace with latest spacing rules from b4. */
/*  4. Body */
/*  5. Links */
/*  6. Grid breakpoints */
/*  7. Grid containers */
/*  8. Grid columns */
/*  9. Fonts */
/* 10. Components */
/* 11. Tables */
/* 12. Buttons */
/* 13. Forms */
/* 14. Dropdowns */
/* 15. Z-index master list */
/* 16. Navbar */
/* 17. Navs */
/* 18. Pagination */
/* 19. Jumbotron */
/* 20. Form states and alerts */
/* 21. Cards */
/* 22. Tooltips */
/* 23. Popovers */
/* 24. Tags */
/* 25. Modals */
/* 26. Alerts */
/* 27. Progress bars */
/* 28. List group */
/* 29. Image thumbnails */
/* 30. Figures */
/* 31. Breadcrumbs */
/* 32. Media objects */
/* 33. Carousel */
/* 34. Close */
/* 35. Code */
/* 36. Status Bars */

/* 37. Misc */

/* 38. Utilities */
/* 38. a. - Align */
/* 38. b. - Background */
/* 38. c. - Borders */
/* 38. d. - Clearfix */
/* 38. e. - Display */
/* 38. f. - Embed */
/* 38. g. - Flex */
/* 38. h. - Float */
/* 38. i. - Position */
/* 38. j. - Screenreaders */
/* 38. k. - Sizing */
/* 38. l. - Spacing */
/* 38. m. - Text */
/* 38. n. - Visibility */

/* 1. Colors */
/* Blockstack Label Colors - https://projects.invisionapp.com/boards/HE2VVROFSGB27/ */
/* These label colors come from Google's Material Design Color Set [500] - Alternative shades [100 - 900] - http://materialuicolors.co/ */

.label-red                 {color: #F44336;}  /* label: bug */
.label-purple              {color: #9C27B0;}  /* label: ui */
.label-deep-purple         {color: #673AB7;}  /* label: feature-request */
.label-indigo              {color: #3F51B5;}  /* label: copywriting */
.label-blue                {color: #2196F3;}  /* label: help wanted */
.label-teal                {color: #009688;}  /* label: question */
.label-green               {color: #4CAF50;}  /* label: documentation */
.label-light-blue          {color: #03A9F4;}  /* label: enhancement */
.label-cyan                {color: #00BCD4;}  /* label: refactoring */
.label-light-green         {color: #8BC34A;}  /* label: production */
.label-lime                {color: #CDDC39;}  /* label: wontfix */
.label-yellow              {color: #FFEB3B;}  /* label: request */
.label-amber               {color: #FFC107;}  /* label: help-wanted */
.label-orange              {color: #FF9800;}  /* label: duplicate */
.label-deep-orange         {color: #FF5722;}  /* label: invalid */
.label-brown               {color: #795548;}  /* label: events */
.label-gray                {color: #9E9E9E;}  /* label: fixed in the next release */
.label-purple-a400         {color: #D500F9;}  /* label: release-list* */
.label-blue-gray           {color: #607D8B;}  /* label: strategy */
.label-raspberry           {color: #880E4F;}  /* label: chore */

.electric-magenta          {color: #E91E63;}  /* label: high-priority + stereoscopy magenta */
.electric-blue             {color: #2C96FF;}  /* label: design + stereoscopy blue */

.midnight-50               {color: #434345;}
.midnight-100              {color: #3a3a3d;}
.midnight-200              {color: #323234;}
.midnight-300              {color: #2a2a2b;}
.midnight-400              {color: #212123;}
.midnight-500              {color: #19191a;}
.midnight-600              {color: #111111;}
.midnight-700              {color: #080809;}  /* body copy (dark) */

.deep-slate-50             {color: #494f56;}
.deep-slate-100            {color: #41474d;}
.deep-slate-200            {color: #393e44;}
.deep-slate-300            {color: #32363a;}
.deep-slate-400            {color: #2a2d31;}
.deep-slate-500            {color: #222528;}
.deep-slate-600            {color: #1a1d1f;}
.deep-slate-700            {color: #121416;}
.deep-slate-800            {color: #0b0c0c;}
.deep-slate-900            {color: #030303;}

.purple-5                  {color: #f4f2f4;}
.purple-10                 {color: #eae7eb;}
.purple-15                 {color: #dfdbe1;}
.purple-20                 {color: #d4cfd7;}
.purple-25                 {color: #cac3cd;}
.purple-30                 {color: #c0b8c4;}
.purple-35                 {color: #b5abba;}
.purple-40                 {color: #aa9fb0;}
.purple-45                 {color: #9f93a6;}
.purple-50                 {color: #95889c;}  /* 50 + logos + type */
.purple-55                 {color: #8b7c92;}
.purple-60                 {color: #807088;}
.purple-65                 {color: #75647e;}
.purple-70                 {color: #6b5875;}
.purple-75                 {color: #604c6b;}  /* 75 + bug */
.purple-80                 {color: #564061;}
.purple-85                 {color: #4b3457;}  /* 85 + bug + lines */
.purple-90                 {color: #41294e;}  /* 90 + bug + dots */
.purple-95                 {color: #361d44;}
.purple-100                {color: #2c113a;}
.purple-105                {color: #291037;}
.purple-110                {color: #270f34;}
.purple-110                {color: #270f34;}  /* 110 + background */
.purple-120                {color: #230d2e;}
.purple-125                {color: #200c2b;}
.purple-130                {color: #1e0b28;}
.purple-135                {color: #1c0b25;}
.purple-140                {color: #1a0a22;}
.purple-145                {color: #18091f;}
.purple-150                {color: #15081c;}

.gray-50                   {color: #fafafa;}
.gray-75                   {color: #f0f0f0;}
.gray-85                   {color: #e6e6e6;}
.gray-100                  {color: #e1e1e1;}
.gray-200                  {color: #c7c7c7;}
.gray-300                  {color: #aeaeae;}
.gray-400                  {color: #949494;}  /* body copy (light gray) */
.gray-500                  {color: #7b7b7b;}
.gray-600                  {color: #616161;}
.gray-700                  {color: #484848;}  /* body copy */
.gray-800                  {color: #2e2e2e;}
.gray-850                  {color: #222222;}
.gray-900                  {color: #1c1c1c;}
.gray-950                  {color: #151515;}

.text-primary              {color: #2C96FF!important;}
.text-secondary            {color: #AEAEAE!important;}
.text-dark                 {color: #484848!important;}

/* 2. Options */
.col-centered{float:none;margin:0 auto;overflow:none;}

/* 3. Spacing */
/* Custom spacing classes to be removed */
.m-t-0{margin-top:0px}
.m-t-10{margin-top:10px}
.m-t-15{margin-top:15px}
.m-t-20{margin-top:20px}
.m-t-25{margin-top:25px}
.m-t-30{margin-top:30px}
.m-t-35{margin-top:35px}
.m-t-40{margin-top:40px}
.m-t-45{margin-top:45px}
.m-t-50{margin-top:50px}
.m-t-55{margin-top:55px}
.m-t-60{margin-top:60px}
.m-t-65{margin-top:65px}
.m-t-70{margin-top:70px}
.m-t-75{margin-top:75px}
.m-t-80{margin-top:80px}
.m-t-85{margin-top:85px}
.m-t-90{margin-top:90px}
.m-t-95{margin-top:95px}
.m-t-100{margin-top:100px}
.m-b-0{margin-bottom:0px}
.m-b-10{margin-bottom:10px}
.m-b-15{margin-bottom:15px}
.m-b-20{margin-bottom:20px}
.m-b-25{margin-bottom:25px}
.m-b-30{margin-bottom:30px}
.m-b-35{margin-bottom:35px}
.m-b-40{margin-bottom:40px}
.m-b-45{margin-bottom:45px}
.m-b-50{margin-bottom:50px}
.m-b-55{margin-bottom:55px}
.m-b-60{margin-bottom:60px}
.m-b-65{margin-bottom:65px}
.m-b-70{margin-bottom:70px}
.m-b-75{margin-bottom:75px}
.m-b-80{margin-bottom:80px}
.m-b-85{margin-bottom:85px}
.m-b-90{margin-bottom:90px}
.m-b-95{margin-bottom:95px}
.m-b-100{margin-bottom:100px}
.p-t-0{padding-top:0px}
.p-t-10{padding-top:10px}
.p-t-15{padding-top:15px}
.p-t-20{padding-top:20px}
.p-t-25{padding-top:25px}
.p-t-30{padding-top:30px}
.p-t-35{padding-top:35px}
.p-t-40{padding-top:40px}
.p-t-45{padding-top:45px}
.p-t-50{padding-top:50px}
.p-t-55{padding-top:55px}
.p-t-60{padding-top:60px}
.p-t-65{padding-top:65px}
.p-t-70{padding-top:70px}
.p-t-75{padding-top:75px}
.p-t-80{padding-top:80px}
.p-t-85{padding-top:85px}
.p-t-90{padding-top:90px}
.p-t-95{padding-top:95px}
.p-t-100{padding-top:100px}
.p-b-0{padding-bottom:0px}
.p-b-10{padding-bottom:10px}
.p-b-15{padding-bottom:15px}
.p-b-20{padding-bottom:20px}
.p-b-25{padding-bottom:25px}
.p-b-30{padding-bottom:30px}
.p-b-35{padding-bottom:35px}
.p-b-40{padding-bottom:40px}
.p-b-45{padding-bottom:45px}
.p-b-50{padding-bottom:50px}
.p-b-55{padding-bottom:55px}
.p-b-60{padding-bottom:60px}
.p-b-65{padding-bottom:65px}
.p-b-70{padding-bottom:70px}
.p-b-75{padding-bottom:75px}
.p-b-80{padding-bottom:80px}
.p-b-85{padding-bottom:85px}
.p-b-90{padding-bottom:90px}
.p-b-95{padding-bottom:95px}
.p-b-100{padding-bottom:100px}
.special-space-btn{margin-right:15px!important;}


/* 4. Body */
html,body{min-width:768px;height:100%;background-color:#fff;}
#app{height:100%;width:100%;}
body,html,#app,.app-landing,.body-main{min-height:100%;min-width:inherit;color:#484848;}
body{font-family:'Lato',sans-serif;font-size:14px;-webkit-font-smoothing:antialiased;}
.app-wrap-profiles{width:100%;min-height:100%;background:#fafafa;background:-webkit-linear-gradient(top,#fafafa 0%,#f2f2f2 100%);}
.app-wrap-wallet{width:100%;min-height:100%;background:#FAFAFA;}
.site-wrapper{display:flex;flex-direction:column;min-height:100%;padding:35px;}
.home-screen-wrap{width:100%;min-height:100%;background:#FAFAFA;}
.home-screen{width:100%;min-height:100%;background:#FAFAFA;}


/* 5. Links */
a,a:focus{outline:none; cursor:pointer}
a {color: #2C96FF;}

/* 9. Fonts */
.inverse{font-weight:200;color:#fff;}
.h5-landing{color:#AEAEAE;font-size:18px;font-weight:400;}
h3{font-family:'Lato',sans-serif;font-size:1.25rem;font-weight:400;}


/* 12. Buttons */
button{outline:none!important;background-color:transparent;font-size:11px;cursor:pointer;}
.btn{font-family:'Lato',sans-serif;padding:0.5625rem 2.5rem;font-size:0.8125rem;font-weight:700;line-height:1.75rem;border-radius:0!important;text-transform:uppercase;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.08);-moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.08);box-shadow:0px 0px 25px 0px rgba(0,0,0,0.08);}
.btn-xs{font-size:0.75rem;padding:0.375rem 2.125rem;line-height:1rem;}
.btn-sm{font-size:0.75rem;padding:0.375rem 2.125rem;line-height:1.5rem;}
.btn-lg{font-size:0.875rem;padding:0.6875rem 3.4375rem;line-height:1.75rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{background-color:#2C96FF;border:1px solid #2C96FF;}
.btn-link{color:#AEAEAE;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-link:focus,.btn-link:hover{color:#2C96FF;text-decoration:none;}
.btn-link.active{color:#2C96FF;text-decoration:none;}
.btn-link-secondary{color:#AEAEAE;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-light{background-color:#fff;border-color:#fff;color:#2C96FF;}
.btn-storage{background-color:#2C96FF;border:1px solid #2C96FF;margin-bottom:-15px;-webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 25px 0px rgba(0,0,0,0.15);}
.btn-storage:hover{background-color:#0668BF;}
.btn.disabled.btn-storage,.btn:disabled.btn-storage{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background-color:#8CC3F4;border:1px solid #8CC3F4;}


/* 13. Forms */
/* Default forms are "Light forms" for now GL Sep 17, 2017 */
.form-group{margin-bottom:15px;}
.form-control{font-size:0.875rem;font-weight:400;color:#484848;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;border:1px solid #fff;}
.form-control::-webkit-input-placeholder{color:#c7c7c7;font-weight:400!important;}
.form-control:focus{border-color:#2C96FF;-webkit-box-shadow:inset 0 0 0,0 0 3px rgba(44,150,255,0.7);-moz-box-shadow:inset 0 0 0,0 0 3px rgba(44,150,255,0.7);box-shadow:inset 0 0 0,0 0 3px rgba(44,150,255,0.7);}
.form-control-label{padding-left:15px;margin-bottom:0.375rem;}
/* Secondary forms */
.form-container-secondary{padding:35px 15px 50px 15px;background-color:#2C96FF;color:#fff;}
.form-control-secondary{color:#fff;border:1px solid #fff;}
input.form-control-secondary{background-color:#60B0FF;border:1px solid #60B0FF;}
.form-control-secondary::-webkit-input-placeholder{text-transform:capitalize;font-size:0.875rem;color:#fff;font-weight:400!important;}
.form-control-secondary:hover::-webkit-input-placeholder{color:#fff;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;}
.form-control-secondary:focus::-webkit-input-placeholder{color:#fff;}
.form-control-secondary:hover{background-color:#80C0FF;color:#fff;border:1px solid #80C0FF;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;}
.form-control-secondary:focus,.form-control-secondary:active{background-color:#fff;color:#484848;border:1px solid #fff;}
.form-control-label-secondary{color:#95CAFF;margin-bottom:0.375rem;}


/* 16. Navbar */
header{padding-top:15px;}
.navbar{padding:0!important;height:70px;}
.navbar-expand{width:85%;}
.nav-item{width:88px;}
.nav-link{width:100%;}
.navbar-expand .navbar-nav .nav-link{padding:12px 13px;}
.secondary-nav{margin-top:5px;}

/* 21. Cards */
.card-default{background-color:#fff;padding:25px 15px 25px 25px;overflow:hidden;/*width:100%;*/border:1px solid #fff;-webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.08);-moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.08);box-shadow:0px 0px 25px 0px rgba(0,0,0,0.08);border-radius:0;}
a.card:hover{text-decoration:none;}
.card-wrapper{list-style:none;padding-left:0;}
.pro-wrap{font-family:'Lato',sans-serif;max-width:1180px;color:#080809;background-color:#fff;padding:35px;font-weight:300;}
.pro-actions-wrap{max-width:1180px;padding:0px;}
div.pro-avatar img{max-width:58px;}
.pro-card-name{font-size:1.125rem;font-weight:700;}
.pro-card-domain-name{font-size:1rem;}
.pro-card-body{display:block;margin-bottom:15px;font-size:0.9rem;}
.pro-container{padding-top:1.5rem;}
.list-card{margin-bottom:0;list-style:none;padding:0;color:#19191A;text-decoration:none;}
/* All-IDs */
.avatar-sm{margin-right:15px;}
.card-title{margin-bottom:0;font-size:0.875rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-right:15px;}

/* 26. Alerts */
.alert .close {line-height: 20px;}


/* 27. Progress bars */
.progress{font-size: .75rem;line-height: 1rem;text-align: center;}
.progress-bar{height: 1rem;color: #fff;background-color: #2275d7}
.progress-bar-animated{-webkit-animation:progress-bar-stripes 1s linear infinite;-o-animation:progress-bar-stripes 1s linear infinite;animation:progress-bar-stripes 1s linear infinite}
.progress-bar-striped{background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);-webkit-background-size: 1rem 1rem;background-size: 1rem 1rem}


/* 28. List group */
.list-group-item:last-child,.list-group-item:first-child{border-radius:0;}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{background-image:none;}
.item-sidebar-primary{font-size:0.75rem;font-weight:700;text-transform:uppercase;padding:1.0625rem 1.375rem;border:none;color:#2C96FF;background-color:#fff;border:1px solid #fff;margin-bottom:1px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;text-align:center;}
.list-group-item.item-sidebar-primary:hover,.item-sidebar-primary.active,.item-sidebar-primary.active:focus,.item-sidebar-primary.active:hover{background-color:#2C96FF;color:#fff;cursor:pointer;border:1px solid #2C96FF;}


/* 29. Image thumbnails */
.img-cover {object-fit: cover;}
div.avatar-sm img{padding:0;width:48px;height:48px;border:1px solid #e1e1e1;}
div.avatar-md img{padding:0;width:72px;height:72px;border:1px solid #e1e1e1;}


/* 36. Status Bars */
.statusBar-link,.statusBar-link:hover,.statusBar-link:focus,.statusBar-link:active{display:block;padding:2px 12px;color:#e6e6e6;text-align:center;margin-left:8px;margin-right:8px;}
.statusBar-link:hover{background-color:rgba(148,148,148,0.1);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.status-bar{width:100%;height:34px;display:inline-block;font-family:'Lato',sans-serif;font-size:13px;font-weight:400;padding:4px 30px;}
.status-bar a,.status-bar a:hover,.status-bar a:focus,.status-bar a:active{text-decoration:none;}
.status-bar-icon{vertical-align:middle;font-size:19px!important;padding-right:8px;margin-top:-2px!important;}
/* --- Status Bars variants --- */
.status-bar-light{background-color:#fff;}
.status-bar-light > a{color:#080809;}
.status-bar-dark{background-color:#2A2D31;}
.status-bar-dark > a{color:#e6e6e6;}
.status-bar-gray{background-color:#F0F0F0;border-bottom:1px solid #E6E6E6;}
.status-bar-gray > a{color:#080809;}
.status-bar-transparent-light,.status-bar-transparent-light > a{background-color:rgba(0,0,0,0);color:#e6e6e6;}
.status-bar-transparent-dark,.status-bar-transparent-dark > a{background-color:rgba(255,255,255,0);color:#080809;}
.status-inline{display:inline-block;}
.status-completion{margin-right:15px;vertical-align:top;margin-top:-1px;}
.status-profile-img{width:22px;height:22px;vertical-align:top;}
.status-complete-wrap{line-height:0px;}
.status-complete-object{background-color:red;width:19px;height:19px;font-family:'Source Code Pro',monospace;padding-top:10px;padding-left:6px;color:#fff;}
.status-complete-dot{padding:10px;vertical-align:middle;}
div.status-inline.status-balance > p{padding:7px 10px;vertical-align:middle;}
/* --- Status bar tooltip arrow --- */
.popover.bottom>.arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#fff;top:-11px;}
.popover>.arrow{border-width:11px;}
.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:rgba(0,0,0,0);border-style:solid;}
*,:after,:before{box-sizing:border-box;}
div{display:block;}
.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;letter-spacing:normal;line-break:auto;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;white-space:normal;word-break:normal;word-spacing:normal;word-wrap:normal;font-size:14px;background-color:#fff;background-clip:padding-box;border:1px solid #fff;border-radius:6px;box-shadow:0 5px 30px rgba(0,0,0,.2);}
*,:after,:before{box-sizing:border-box;}
.popover.bottom>.arrow:after{content:" ";top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#fff;}
.popover>.arrow:after{border-width:10px;content:"";}
.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:rgba(0,0,0,0);border-style:solid;}
*,:after,:before{box-sizing:border-box;}
.popover-content{padding:25px;}
.action-item{padding-bottom:10px;margin-top:5px;margin-bottom:15px;font-family:'Lato',sans-serif;}
.tooltip-link{display:block;padding-top:8px;color:#2C96FF;}
.tooltip-link:hover,.tooltip-link:focus{display:block;padding-top:8px;color:#2C96FF;}


/* 37. Misc */
.card-list-container{width:100%;max-width:500px;margin-left:auto;margin-right:auto;padding-left:0;padding-right:0;}
.vertical-split-content{margin-top:40px;}
.sidebar-list{margin-bottom:20px;}
.sidebar-list .btn{margin-bottom:5px;}
.highlight{margin:0rem 0rem 1rem 0rem;padding:1rem;background-color:#eee;}
.highlight pre{margin-top:0;margin-bottom:0;padding:0;border:0;background-color:transparent;}
/* Home screen */
.app-box-container{display:block;min-height:1px;text-align:center;}
.app-box-wrap{width:100px;padding:0;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.app-box{height:auto;margin:0.625rem auto;width:100%;margin-left:0px;margin-right:0px!important;}
.app-box img{width:72px;background-color:rgba(44,150,255,0.15);-webkit-box-shadow:0px 0px 35px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 35px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 35px 0px rgba(0,0,0,0.15);-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.app-center{width:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;}
.app-wrap{width:100%;max-width:initial;-webkit-box-orient:horizontal;-webkit-box-direction:normal;margin-top:1.625rem;}
.app-container{width:100%;display:flex;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;justify-content:flex-start;}
div.app-text-container > h3{color:#080809;font-weight:400;font-size:0.8125rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-bottom:1.25rem;}

.capitalize{text-transform:capitalize;}
.search-result{font-weight:300;display:block;height:60px;margin-bottom:1px;color:#fff!important;border:none;border-radius:3px;background-color:#2c96ff;}
a.search-result:hover{color:#fff!important;background-color:#2275d7;}
/* Live search */
.livesearch-avatar{display:inline-block;}
.livesearch-id{display:inline-block;margin-left:10px;font-weight:400;}
.livesearch-name{display:inline-block;text-transform:capitalize;margin-left:10px;}

.result-img{width:32px;height:32px;}
.dropzone{margin-bottom: 15px;}
.dropzone-active{border: dashed 1px red;}
.dropzone div {font-size:large;text-align:center;}
.dropzone .overlay {margin: 0 0 0 0;padding-top:175px;font-size: 15px;}
/* Modal */
div.ReactModal__Overlay.ReactModal__Overlay--after-open{background-image:none;background-repeat:no-repeat;background-position-x:center;background-position-y:center;background-size:cover;background-attachment:fixed;display:flex;align-items:center;justify-content:center;margin-top:0;}
div.ReactModal__Content.ReactModal__Content--after-open{width:415px;background-color:#FAFAFA;background-color:-webkit-linear-gradient(top,#fafafa 0%,#f2f2f2 100%);border:1px solid #FAFAFA;padding:3.75rem 42px;-webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.25);-moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.25);box-shadow:0px 0px 25px 0px rgba(0,0,0,0.25);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;transition:all 300ms ease-in-out;}
.modal-heading{font-size:1.375rem;color:#080809;line-height:1.85rem;margin-bottom:.5rem;text-align:center;}
.modal-body{color:#080809;line-height:1.125rem;margin-bottom:0.875rem;text-align:center;}
a.modal-body{color:#949494;font-size:0.8125rem;text-decoration:underline;line-height:1.125rem;margin:0 auto;text-align:center;}
.modal-code{font-family:'Source Code Pro',monospace;color:#616161;font-size:13px;background-color:#E6E6E6;padding:25px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.react-modal-pgp{width:700px!important;}
/* Welcome Modal */
.welcome-modal div.ReactModal__Overlay.ReactModal__Overlay--after-open{background-color:rgba(255,255,255,0.9)!important;}
.welcome-modal-icon {width:200px;height:200px;display:block;margin-right:auto;margin-left:auto}
/* Auth Modal */
.auth-modal {text-align: center}
.auth-modal .profile-select{margin-bottom:20px;}
/* Add Username Modal */
.add-username-modal div div.ReactModal__Content.ReactModal__Content--after-open{width:615px;margin-top:0;}
/* Storage App */
.storage-sidebar-wrap{position:absolute;float:left;padding:0;padding-top:75px;width:200px;min-height:100%;text-align:center;background:#007be8;background:-moz-linear-gradient(top,#007be8 9%,#0099e8 85%);background:-webkit-linear-gradient(top,#007be8 9%,#0099e8 85%);background:linear-gradient(to bottom,#007be8 9%,#0099e8 85%);}
.item-sidebar-storage.active,.item-sidebar-storage{font-size:0.75rem;line-height:1.5rem;border:none;background-color:transparent;text-transform:uppercase;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.item-sidebar-storage.active{background-color:transparent;}
.item-sidebar-storage:hover,.item-sidebar-storage.active:hover, .item-sidebar-storage.active:visited, .item-sidebar-storage.active:focus{background-color:#0668BF;}
.item-sidebar-storage.disabled{color:rgba(255,255,255,0.45);border:none;background-color:transparent;text-transform:uppercase;}
.item-sidebar-storage.disabled:hover{color:rgba(255,255,255,0.45);border:none;background-color:rgba(255,255,255,0.05);}
/* Wallet App */
.frame-light{background-color:#fff;padding-top:20px;}
.balance-main{font-family:'Source Code Pro',monospace;font-size:26px;font-weight:700;color:#fff;text-align:center;padding-right:15px;padding-left:15px;}
.balance-sml{font-family:'Source Code Pro',monospace;font-size:14px;color:#95CAFF;text-align:center;margin-top:-10px;padding-right:15px;padding-left:15px;}
.highlight-wallet{font-family:'Source Code Pro',monospace;color:#fff;line-height:1.75rem;padding:0.75rem 0;}
.highlight-wallet > pre > code{font-family:'Source Code Pro',monospace!important;font-size:0.8125rem;color:#fff!important;text-align:center;}
.qrcode-wallet{max-width:200px;margin:20px auto 20px auto;padding:20px;background-color:#fff;}







/* Media queries */

/* Extra small devices (phones, less than 768px) */
/* Special Home Screen event -- 1 App centering (319px and down) */
@media (max-width:319px){
	.app-box-wrap{margin:auto;}
}

/* Special Home Screen event -- 1 App centering (319px and down) */
@media (max-width:320px){
	.app-wrap{width:100%;padding:0;margin-top:1.25rem;}
	.app-container{padding-left:5px;padding-right:5px;}
	.app-box-wrap{width:90px;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px){
  /* 16. Navbars */
  .navbar-expand{width:70%;}
  .navbar-expand .navbar-nav .nav-link{padding:12px 26px;}
  .navbar-expand .navbar-nav .nav-link > img {width:110%;}

  /* 21. Cards */
  .pro-card-body{margin-left:auto;margin-right:auto;max-width:300px;}

	.card-list-wrap{min-width:310px;display:inline-block;padding-left:0;padding-right:0;}
	.card-list-card{width:310px;}
	.card-list-container{max-width:none;padding-right:0;padding-left:0;}
	.card-default{min-width:310px;margin-left:0;}
	.app-box-wrap{width:190px;padding:0;}
  .app-box{height:auto;margin:1.125rem auto;width:100%;margin-left:0px;margin-right:0px!important;}
  .app-box img{width:128px;-webkit-box-shadow:0px 0px 80px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 80px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 80px 0px rgba(0,0,0,0.15);-moz-border-radius:24px;-webkit-border-radius:24px;border-radius:24px;}
  .app-center{width:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;}
  .app-wrap{width:95%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;align-items:center;}
	.app-container{width:100%;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;justify-content:flex-start;align-items:center;}
	div.app-text-container > h3{font-size:1.25rem;margin-bottom:1.75rem;}
	div.card-list-container.profile-content-wrapper > div > h5.h5-landing{margin-top:25px;}
	.sidebar-list{width:245px;margin-bottom:20px;padding-right:0;}
	.sidebar-list .btn{margin-bottom:5px;}
	.btn-home-button{position:absolute;top:0;left:0;right:auto;}
	div.home-profiles a .btn-home-button{position:absolute;top:75px;left:0px;right:auto;}
	.item-sidebar-wallet.active,.list-group-item.item-sidebar-wallet{padding-left:6.25rem;padding-right:6.25rem;}
  .qrcode-wallet{max-width:225px;}
  .container-fluid{max-width: 768px;}
}

/* Medium devices (desktops, 975px and up) */
@media (min-width:992px){
  /* 16. Navbars */
  .navbar-expand .navbar-nav .nav-link > img {width:115%;}

	.card-list-wrap{min-width:330px;margin-right:30px;margin-right:1.875rem;}
	.pro-wrap{min-width:905px;}
	.app-container{max-width:954px;margin:0 auto;}
	.app-wrap{width:95%;margin-top:10%;}
	.app-box-wrap{width:190px;padding:0;}
  .app-box img{width:128px;-webkit-box-shadow:0px 0px 80px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 80px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 80px 0px rgba(0,0,0,0.15);-moz-border-radius:33px;-webkit-border-radius:33px;border-radius:33px;}
}

/* Large devices (large desktops, 1200px to 1400px) */
@media (min-width:1200px){
	.app-container{max-width:initial;}
	.app-wrap{width:90%;margin-top:12%;}
	.profile-content-wrapper{margin-left:160px;max-width:1460px;width:initial;margin-right:0;}
	.pro-wrap{min-width:80%;}
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width:1400px){
	.app-wrap{width:90%;margin-top:12%;}
}
