/*
 * Custom styles
 */

body {
  padding-top: 66px;
}

.col-without-padding, .col-no-pad {
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
}

/* Highlight */

.highlight {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0rem 0rem 1rem 0rem;
  background-color: #eeeeee;
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.capitalize {
  text-transform: capitalize;
}

/* Sidebar */

.view-with-sidebar {
  padding-left: 180px;
  transition: all 0.4s ease 0s;
}

.sidebar-section {
  margin-left: -180px;
  left: 180px;
  width: 180px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.content-section {
  width: 100%;
}

@media (max-width:767px) {
    .view-with-sidebar {
      padding-left: 90px;
    }

    .sidebar-section {
      margin-left: -90px;
      left: 90px;
      width: 90px;
    }
}

.sidebar-label {
  font-weight: bold;
  text-decoration: underline;
}

.sidebar-list {
  margin-bottom: 20px;
}

.sidebar-list .btn {
  margin-bottom: 5px;
}

/* Navbar */

.nav-icon {
  width: 16px;
  height: 16px;
}

.nav-search {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 400px;
}