#app {
  height: 100%;
  width: 100%;
}

/* Custom styles */
.col-without-padding,.col-no-pad{padding:0 0 0 0;vertical-align:middle;}
body{font-family:'Lato',sans-serif;font-size:14px;background-color:rgba(250,250,250,1);}
.body-main{width:100%;height:100%;}
.body-landing{width:100%;height:100%;}
.body-inner{width:100%;min-height:100%;}
.body-inner-white{background-color:white;}
.wrapper{width:100%;}
.container{padding-top:40px;}
.no-padding{padding-right:0;padding-left:0;}

/* Highlight */
.highlight{margin:0rem 0rem 1rem 0rem;padding:1rem 1rem 1rem 1rem;background-color:#eee;}
.highlight pre{margin-top:0;margin-bottom:0;padding:0;border:0;background-color:transparent;}
.capitalize{text-transform:capitalize;}

/* (Formerly Profile.css */

/* unknown styles //////////////////////////////////////// */
h4.headspace,h5.headspace{margin-bottom:50px;}
.btn-pro-edit:hover,.btn-pro-edit:active,.btn-pro-edit:focus,.btn-pro-edit:active:focus{color:#fff;border:1px solid #53206f;outline:none;background-color:#53206f;}
.pill-nav{font-size:16px;border:1px solid #484848;border-radius:20px;}
div.pill-nav > a{padding-right:15px;}
div.pill-nav > a > img{width:17px;height:17px;margin-top:-5px;margin-left:15px;}
div.container.outer-wrap{padding:0;}

/* end unknown styles ///////////////////////////////////// */
.bookmarks-temp{padding:0;border-radius:4px;}
.search-result{font-weight:300;display:block;height:60px;margin-bottom:1px;color:#fff!important;border:none;border-radius:3px;background-color:#2c96ff;}
a.search-result:hover{color:#fff!important;background-color:#2275d7;}
.result-img{width:36px;height:36px;}

/* Post rhythm ----------------------------------------- */

/* Globals */
html,body{min-width:768px;height:100%;background-color:#fff;}
button{outline:none!important;font-size:11px;}
.form-control:focus{color:#444;}

/* Type */
a,a:focus{outline:none;}
.inverse{font-weight:200;color:#fff;}

/* Buttons */
.btn,button{line-height:inherit;letter-spacing:1px;text-transform:uppercase!important;font-family:'Lato',sans-serif;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;border-radius:2px!important;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-side-emphasis{font-family:'Lato',sans-serif;font-size:9px;padding:8px 29px;color:#7b7b7b;border:1px solid #e1e1e1;border-right:none;border-left:none;border-radius:0;background-color:#fafafa;}
.btn-side-emphasis:hover,.btn-side-emphasis:focus,.btn-side-emphasis:active,.btn-side-secondary:hover,.btn-side-secondary:focus,.btn-side-secondary:active{background-color:#2C96FF;color:#fff;border-color:#2C96FF;}
.btn-side-secondary{font-family:'Lato',sans-serif;font-size:9px;padding:8px 29px;color:#7b7b7b;border:1px solid #e1e1e1;border-right:none;border-radius:0;background-color:#f5f5f5;}

/* Update upon upgrade of v4 */
.btn-side-pull-left{margin-left:-25px!important;padding:8px 29px 8px 30px;}
.btn-primary,div.uploadcare-widget-button.uploadcare-widget-button-open{color:#fff;border-color:#080809;background-color:#080809;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary,div.uploadcare-widget-button.uploadcare-widget-button-open:hover,div.uploadcare-widget-button.uploadcare-widget-button-open:focus,div.uploadcare-widget-button.uploadcare-widget-button-open:active{color:#fff;border-color:#2275d7;background-color:#2275d7;}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{border-color:#494f56;background-color:#494f56;}
.btn-lg,.btn-group-lg > .btn{font-size:13px;font-style:normal;line-height:12px;padding:16px 50px;vertical-align:middle;border-radius:3px;}
.btn-sm,.btn-group-sm > .btn{font-size:11px;line-height:12px;padding:6px 10px;border-radius:2px;}

/* ID card */
.proid-wrap{width:870px;max-width:980px;}
.idcard{position:relative;border:.0625rem solid rgba(229,229,229,1);border-radius:.25rem;}
.idcard-body{display:block;margin-bottom:30px;color:#7b7b7b;}
.dim{color:#7b7b7b;}
.id-flex img, .id-flex .dropzone {bottom:0;width:16.25rem;height:371px;-webkit-border-radius:8px;border-radius:8px;object-fit:cover;}
.id-flex{bottom:0;display:table-cell;width:16.25rem;height:371px;vertical-align:top;}
.idcard-block{display:table-cell;width:100%;vertical-align:top;}
.idcard-name{font-size:1.25em;}
.id-social > div > ul{height:39px;margin-top:5px;margin-bottom:5px;margin-left:15px;list-style:none;}
.id-social > div > ul > li a{line-height:32px;overflow:hidden;height:32px;padding-left:10px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;color:rgba(255,255,255,1);}
i.fa{display:inline-block;margin-top:3px;margin-right:5px;margin-left:5px;}
.id-social > div > ul > li a > span{padding-left:5px;}
.idcard-wrap{font-weight:inherit;margin-top:105px;color:#444;}
.overlay{position:absolute;width:16.25rem;height:371px;margin:-371px 0 0 0;-webkit-border-radius:8px;border-radius:8px;background-color:rgba(0,0,0,.2);}
.profile-container,profile-wrap{min-width:18.125rem;padding:.9375rem;}
.profile-right-col-fill{position:relative;top:50px;height:55vh;padding:0 0 0 10px;border-left:1px solid #e1e1e1;}
div.profile-right-col > ul{padding-left:0;list-style-type:none;}
div.profile-right-col > ul > li > a,div.profile-right-col > ul > li > button{display:block;padding:10px 5px;text-decoration:none;color:#949494;}
.btn-social-account{display:block;padding:10px 5px;text-decoration:none;color:#949494;}
div.profile-right-col > ul > li > a:hover,div.profile-right-col > ul > li > button:hover{text-decoration:none;color:#fff;border-radius:4px;background-color:#2c96ff;}
.btn-social-account:hover{text-decoration:none;border-radius:4px;background-color:#23262a;}
.profile-foot{position:relative;display:block;margin-left:15px;padding-top:50px;color:#949494;}
.connections{display:inline-block;width:32px;height:32px;margin-left:15px;border-radius:4px;background-color:#23262a;}

/* Dropzone photo upload */
.dropzone{border: dashed 1px black;}
.dropzone-active{border: dashed 1px red;}
/* Browser bar */
.navbar.navbar-light.bg-faded.navbar-fixed-top{display:block;height:60px;margin-left:226px;padding-top:13px;padding-right:0;padding-left:0;border-bottom:1px solid #e1e1e1;background-color:#fff;}
.nav-page{border:none;background-color:transparent;}
button.btn.btn-sm.nav-page{margin-top:-1px;padding:10px 8px;}

/* Browser search bar */
.nav-search{overflow:hidden;}
.browser-search-bar{font-size:12px;margin-top:-2px;}
.browser-search-bar input{font-family:'Lato',sans-serif;font-size:12px;font-weight:500;padding:.063rem .75rem .063rem 40px;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;color:#444;border:none;border-radius:20px;-webkit-font-smoothing:antialiased;}
.browser-search-bar input::-webkit-input-placeholder{font-family:'Lato',sans-serif;font-size:12px;font-weight:500;margin-top:.1875rem;padding:0;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;text-transform:none;color:#444;-webkit-font-smoothing:antialiased;}
.browser-search-bar input:focus{background-color:#fff;}
.browser-search-bar img{position:absolute;top:23px;margin-left:12px;}

/* Browser links */
.browser-links{padding-right:5px;padding-left:37px;}
.browser-links > div.nav-link{padding-top:8px;}
.browser-links > div.nav-item.nav-link > a{display:block;margin-right:7px;text-decoration:none;}
.bar-icon-home{width:15px;}
.bar-icon-settings{display:block;width:19px;height:19px;margin:0 auto;margin-top:5px;margin-bottom:2px;}
.back-forth{margin-top:-2px;padding-right:27px;padding-left:30px;}
.back-forth > div.nav-link{padding-top:.0625rem;}
.icon-labels{font-family:'Lato',sans-serif;font-size:11px;font-weight:400;display:block;color:#444;}
.icon-labels img{margin-top:-3px;}
.icon-label-wrap{margin-top:2px;padding-left:10px;}
.navbar-nav .nav-item + .nav-item{margin-left:10px;}

/* Browser sidebar */
.view-with-sidebar{padding-left:180px;transition:all .4s ease 0s;}
.sidebar-section{position:fixed;z-index:1000;left:180px;overflow-y:auto;width:180px;height:100%;margin-left:-180px;padding-left:25px;transition:all .4s ease 0s;}
.sidebar-label{font-size:14px;color:#7b7b7b;}
.sidebar-list{margin-bottom:20px;}
.sidebar-list .btn{margin-bottom:5px;}
.centered{text-align:center;}
.push-40{margin-bottom:40px;}
.push-60{margin-bottom:60px;}
.push-80{margin-bottom:80px;}
.sidebar-wrapper{top:0;display:block;float:left;width:226px;min-height:100%;border-right:1px solid #e1e1e1;background-color:#fafafa;}
.sidebar-section{min-width:210px;padding-top:55px;border-right:1px solid #e1e1e1;background-color:#fff;}
.sidebar-gutter{width:14px;max-width:14px;min-height:100%;}
.list-group-item-sidebar{border:none;border-radius:4px;background-color:transparent;}
.list-group-item-sidebar.active,.list-group-item-sidebar.active:hover,.list-group-item-sidebar.active:focus{color:#fff;background-color:#53206f;background-image:none;}
.list-group-item-dash{font-size:12px;display:block;width:100%;min-width:204px;height:62px;margin-bottom:1px;margin-left:-20px;padding:16px 12px;border:none;border-top-left-radius:6px!important;border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-bottom-left-radius:6px!important;background-color:#fff;}
a.list-group-item-dash:focus,a.list-group-item-dash:hover{background-color:#f5f5f5;}
.list-group-avatar{float:left;}
.list-group-avatar img{display:block;width:28px;height:28px;margin-right:10px;border:1px solid #c7c7c7;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;background-color:#fff;background-position:center;background-size:cover;}
.col-list-name{float:left;}
.list-text-name{line-height:14px;display:block;overflow:hidden;box-sizing:border-box;width:130px;white-space:nowrap;text-overflow:ellipsis;color:#444;}
.list-current-state{font-size:11px;line-height:15px;display:block;margin-top:0;color:rgba(8,8,9,.3);}
.booklist-wrap,.col-list-name{color:inherit;}

/* Browser content */
.col-content{width:100%;margin-left:210px;}

/* Content section */
.content-section{position:absolute;top:60px;right:0;left:0;overflow-y:auto;margin-left:226px;}
.beta-v1-0{width:150px;}

/* Views */

/* Views Landing view */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper{top:0;width:100%;height:100%;}
.site-wrapper-inner{display:table-cell;min-height:100%;vertical-align:top;background-repeat:no-repeat;background-attachment:fixed;background-position:center;background-size:cover;}
.cover-container{margin-right:auto;margin-left:auto;}
.out-block-wrap{width:576px;}
.out-block{width:490px;}
.out-form-group{width:490px;margin-left:-80px;}
.app-container{width:101%;}
.app-box-container{float:left;min-height:1px;padding-right:4px;}
.app-box{width:100%;height:auto;}
.text-feat-dash{padding:12px;margin-bottom:0;}
a.view-out-link{color:#494f56;}

/* Deposit view */
.page-header-wrap{display:table;width:100%;}
.page-header{display:table-cell;min-width:100%;height:150px;text-align:center;vertical-align:middle;background-color:#1b1e21;}

/* Temporary position absolute */
.header-logo{position:absolute;top:150px;}

/* Forms */

/* Inline forms */

/* Sets inline forms to have a fixed label container width */
.form-group-control-label{width:150px;}

/* controls the alert boxes when signing up */
div.out-form-group > div > div.alert.alert-dismissible{margin-right:15px;margin-left:178px;}

/* Media queries */

/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px){
	.view-with-sidebar{padding-left:90px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px){
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px){
}
.fa-green{color:#1d9d74;}
.app-account-identifier{margin-left:10px;}
