@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Lato-300/Lato-300.eot');
  src: url('/fonts/Lato-300/Lato-300.eot?#iefix') format('embedded-opentype'),
       local('Lato Light'),
       local('Lato-300'),
       url('/fonts/Lato-300/Lato-300.woff2') format('woff2'),
       url('/fonts/Lato-300/Lato-300.woff') format('woff'),
       url('/fonts/Lato-300/Lato-300.ttf') format('truetype'),
       url('/fonts/Lato-300/Lato-300.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Lato-regular/Lato-regular.eot');
  src: url('/fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('/fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('/fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('/fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Lato-700/Lato-700.eot');
  src: url('/fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('/fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('/fonts/Lato-700/Lato-700.woff') format('woff'),
       url('/fonts/Lato-700/Lato-700.ttf') format('truetype'),
       url('/fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/Lato-300italic/Lato-300italic.eot');
  src: url('/fonts/Lato-300italic/Lato-300italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Light Italic'),
       local('Lato-300italic'),
       url('/fonts/Lato-300italic/Lato-300italic.woff2') format('woff2'),
       url('/fonts/Lato-300italic/Lato-300italic.woff') format('woff'),
       url('/fonts/Lato-300italic/Lato-300italic.ttf') format('truetype'),
       url('/fonts/Lato-300italic/Lato-300italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Lato-italic/Lato-italic.eot');
  src: url('/fonts/Lato-italic/Lato-italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Italic'),
       local('Lato-italic'),
       url('/fonts/Lato-italic/Lato-italic.woff2') format('woff2'),
       url('/fonts/Lato-italic/Lato-italic.woff') format('woff'),
       url('/fonts/Lato-italic/Lato-italic.ttf') format('truetype'),
       url('/fonts/Lato-italic/Lato-italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/Lato-700italic/Lato-700italic.eot');
  src: url('/fonts/Lato-700italic/Lato-700italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('/fonts/Lato-700italic/Lato-700italic.woff2') format('woff2'),
       url('/fonts/Lato-700italic/Lato-700italic.woff') format('woff'),
       url('/fonts/Lato-700italic/Lato-700italic.ttf') format('truetype'),
       url('/fonts/Lato-700italic/Lato-700italic.svg#Lato') format('svg');
}


@font-face {
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-300/Source-Code-Pro-300.eot');
  src: url('/fonts/Source-Code-Pro-300/Source-Code-Pro-300.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Light'),
       local('Source-Code-Pro-300'),
       url('/fonts/Source-Code-Pro-300/Source-Code-Pro-300.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-300/Source-Code-Pro-300.woff') format('woff'),
       url('/fonts/Source-Code-Pro-300/Source-Code-Pro-300.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-300/Source-Code-Pro-300.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot');
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro'),
       local('Source-Code-Pro-regular'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff') format('woff'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.eot');
  src: url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Medium'),
       local('Source-Code-Pro-500'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.woff') format('woff'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.eot');
  src: url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Semibold'),
       local('Source-Code-Pro-600'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.woff') format('woff'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.svg#SourceCodePro') format('svg');
}
