/* Navbar */

.right-navbar a {
  padding-right: 5px;
  padding-left: 5px;
}

/* Header */
.header {
  position: relative;
  z-index: 9000;
  background-color: transparent;
  color: rgba(255,255,255,1);
  margin-top: 0;
}

.footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 9000;
  background-color: rgba(14,60,132,1);
  color: rgba(255,255,255,1);
}

.header-container {
  height: 48px;
  margin: 0 auto;
  padding: 3px 0;
  max-width: var(--max-content-width);
  text-align: center;
}

.header-container ul {
  list-style: none;
}

.navbar-toggle {
  border: none;
  float: left;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 11px;
  height: 1px;
  border-radius: 1px;
  background-color: rgba(255,2555,255,1);
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}

.navbar-toggle:focus {
  outline: 0;
}

/* Nav */

.nav > li > a {
  padding: 10px 34px 13px 34px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active  { 
  background-size: 35px 2px;
  background-position: center bottom 0px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.nav-icon {
  width: 16px;
  height: 16px;
}

.nav {
  display: inline-block;
}

.nav .nav-center {
  left: 0;
  right: 0;
  margin-top: 8px;
  float: none;
}

/* Navbar 2 */

.nav-search {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 400px;
}

/* */

.nav-icon {
  width: 16px;
  height: 16px;
}

.navbar-table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  display: table;
}

.navbar-tab {
  display: table-cell;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  white-space: initial;
  box-sizing: border-box;
}

.navbar-1-12-tab {
  width: 8.33%;
}

.navbar-2-12-tab {
  width: 16.67%;
}

.navbar-3-12-tab {
  width: 25%;
}

.navbar-4-12-tab {
  width: 33.33%;
}

.navbar-5-12-tab {
  width: 41.67%;
}

.navbar-6-12-tab {
  width: 50%;
}

.navbar-7-12-tab {
  width: 58.33%;
}

.navbar-8-12-tab {
  width: 66.67%;
}

.navbar-9-12-tab {
  width: 75%;
}

.navbar-10-12-tab {
  width: 83.33%;
}

.navbar-11-12-tab {
  width: 91.67%;
}

.navbar-12-12-tab {
  width: 100%;
}