/* idcard */
.idcard {
  position: relative;
  border-radius:.25rem;
  border: .0625rem solid rgba(229,229,229,1);
}
.idcard-blockchainid:before {
  position: absolute;
  margin-top: 0;
  content: "+";
  font-size: 0.775rem;
}

.idcard-blockchainid {
  margin-bottom: 20px;
}
.idcard-blockchainid > h4 {
  display: block;
  padding-left: 12px;
  font-size: 0.875rem;
}

/* idcard specifics */

.id-flex img {
  width: 260px;
  height: 371px;
  object-fit: cover;
  margin: 0 10px;
  bottom: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.id-flex {
  display: table-cell;
  vertical-align: top;
  bottom: 0;
  width: 260px;
  height: 371px;
  margin:0 10px;
}
ul {
  padding: 0;
}

.idcard-block {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.idcard-block > p {/*font-size:0.875rem;*/}

.idcard-name {
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 5px;
}

.id-social > div > ul {
  list-style: none;
  height: 39px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.id-social > div > ul > li a {
  vertical-align:middle;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:rgba(255,255,255,1);
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
}
i.fa {
  display: inline-block;
  font-size: 16px;
  text-align: right;
  padding: 8px;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
.id-social > div > ul > li a > span {padding-left:5px; font-size:0.812rem;}

.idcard-wrap {
  padding: 10px 30px;
  position: absolute;
  top: 355px;
  color: rgba(255,255,255,1);
  font-weight: inherit;
}

.overlay {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  width: 260px;
  height: 371px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin:-371px 10px 10px 10px;
}

/* guy build */
body {
  background-color: #1C1C1C;
}
.navbar {
  background-color: rgba(235,235,235,1);
  height: 83px;
  padding-top: 21px;
  padding-right: 0;
  padding-left: 0;
}
  /****** custom element ***************************************/
  .nav-page {
    background-color: transparent;
    border: none;
  }
button {
  outline: none!important;
}
.nav.navbar-nav {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  padding-top: 4px;
}
button.btn.btn-sm.nav-page {
  margin-top: -4px;
  padding-right: 8px; 
  padding-left: 8px;
}
input[type=text]{
  border-radius: 20px;
}
.nav-search {
  overflow: hidden;
}
.nav-search > div > form > input {
  font-size: 11px;
  border: none;
  text-align: center;
  height: 22px;
}
div.nav-item.nav-link > a {
  display: block;
  padding-top: 1px;
  text-decoration: none;
  margin-right: 5px;
}
div.nav-item.nav-link > a > img {
  display: block;
  margin: 0 auto;
  width: 21px;
  height: 21px;
}
.icon-labels {
  margin-top: 6px;
  display: block;
  font-size: 11px;
  color: rgba(61,61,61,1);
}
.toolbar {
  padding-left: 25px;
  padding-right: 15px;
}
.back-forth {
  padding-right: 25px;
  padding-left: 15px;
}
.inverse {
  color: #ffffff;
  font-weight: 100;
}
.bookmarks-temp > .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.bookmarks-temp > a.list-group-item {
  color: #fff!important;
}
.bookmarks-temp > .list-group-item:first-child {
  border-radius: 0;
}
.bookmarks-temp {
  margin-left: -18px;
  max-width: 275px;
}
h4.headspace, h5.headspace {
  margin-bottom: 50px;
}
.bookmarks-temp > a.list-group-item:focus, .bookmarks-temp > a.list-group-item:hover {
  background-color: #000000;
  color: #616161!important;
}
.btn-pro-edit {
  margin-top: 15px;
  margin-left: 10px;
  padding: 0.8125rem 1.25rem;
  width: 258px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #4A90E2;
  color: #1C1C1C;
  border: 1px solid #4A90E2;
}
.btn-pro-edit:hover, .btn-pro-edit:active {
  color: #1C1C1C;
}



