/*
8px = 0.5rem
9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem  *****
14px = 0.875rem 
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem
26px = 1.625rem
28px = 1.75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2.25rem
*/

html, body {
  background-color: #1b1e21;
  height: 100%;
}
body {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%; 
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; 
  background: url(/images/profile-collage.jpg) no-repeat center center fixed;
  background-size: cover;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.idcard {
  position: relative;
  border: .0625rem solid rgba(229,229,229,1);
  border-radius:.25rem;
}
.idcard-body {
  display: block;
  margin-bottom: 30px;
}
.dim {
  color: #949494;
}
.id-flex img {
  bottom: 0;
  width: 260px;
  height: 371px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  object-fit: cover;
}
.id-flex {
  bottom: 0;
  display: table-cell;
  width: 260px;
  height: 371px;
  vertical-align: top;
}
.idcard-block {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
.idcard-name {
  font-weight: 300;
  font-size: 1.25em;
}
.id-social > div > ul {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  height: 39px;
  list-style: none;
}
.id-social > div > ul > li a {
  overflow: hidden;
  padding-left: 10px;
  height: 32px;
  color: rgba(255,255,255,1);
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 32px;
}
i.fa {
  display: inline-block;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 6px;
  text-align: right;
  font-size: 16px;
}
.id-social > div > ul > li a > span {
  padding-left: 5px;
}
.idcard-wrap {
  margin-top: 105px;
  color: rgba(255,255,255,1);
  font-weight: inherit;
}
.overlay {
  position: absolute;
  margin: -371px 0 0 0;
  width: 260px;
  height: 371px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.2);
}
.navbar {
  padding-top: 23px;
  padding-right: 0;
  padding-left: 0;
  height: 83px;
  background-color: rgba(235,235,235,1);
}
  /****** custom element ***************************************/
  .nav-page {
    border: none;
    background-color: transparent;
  }
button {
  outline: none!important;
}
.nav.navbar-nav {
  padding-top: 2px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
button.btn.btn-sm.nav-page {
  margin-top: -4px;
  padding-right: 8px; 
  padding-left: 8px;
}
.nav-search {
  overflow: hidden;
}
.nav-search > div.nav-link > div > input.form-control.form-control-sm {
  padding: 3px .75rem;
  border: none;
  border: 0!important;
  color: #7B7B7B;
  text-align: center;
  font-size: 12px;
}
div.nav-item.nav-link > a {
  display: block;
  margin-right: 5px;
  padding-top: 4px;
  text-decoration: none;
}
div.nav-item.nav-link > a > img {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.icon-labels {
  display: block;
  color: rgba(61,61,61,1);
  font-size: 11px;
}
.toolbar {
  padding-right: 5px;
  padding-left: 35px;
}
.back-forth {
  padding-right: 35px;
  padding-left: 15px;
}
.inverse {
  color: #ffffff;
  font-weight: 200;
}
.bookmarks-temp > .list-group-item {
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
.bookmarks-temp > a.list-group-item {
  color: #fff!important;
}
.bookmarks-temp > .list-group-item:before {
  display: inline-block;
  margin-left: 15px;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: #23262a;
}
.bookmarks-temp {
  margin-left: -18px;
  max-width: 275px;
}
h4.headspace, h5.headspace {
  margin-bottom: 50px;
}
.bookmarks-temp > a.list-group-item:focus, .bookmarks-temp > a.list-group-item:hover {
  background-color: #23262a;
  color: #e6e6e6!important;
}
.btn-pro-edit {
  margin-top: 15px;
  padding: 0.8125rem 1.25rem;
  width: 258px;
  border: 1px solid #4a90e2;
  background-color: #4a90e2;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 11px;
}
.btn-pro-edit:hover, .btn-pro-edit:active, .btn-pro-edit:focus, .btn-pro-edit:active:focus {
  outline: none;
  border: 1px solid #2d7edd;
  background-color: #2d7edd;
  color: #ffffff;
}
.pill-nav {
  border: 1px solid #484848;
  border-radius: 20px;
  font-size: 16px;
}
div.pill-nav > a {
  padding-right: 15px;
}
div.pill-nav > a > img {
  margin-top: -5px;
  margin-left: 15px;
  width: 17px;
  height: 17px;
}
.profile-right-col-fill {
  position: relative;
  top: -105px;
  height:85vh;
  border-left: 1px solid #282828;
}
.profile-right-col {
  padding-top: 105px;
}
.profile-spacer {
  padding-top: 65px;
}
div.profile-right-col > ul {
  padding-left: 0;
  list-style-type: none;
}
div.profile-right-col > ul > li > a {
  display: block;
  padding: 10px 5px;
  color: #949494;
  text-decoration: none;
}
div.profile-right-col > ul > li > a:hover {
  border-radius: 4px;
  background-color: #23262a;
  text-decoration: none;
}
.profile-foot {
  position: relative;
  display: block;
  margin-left: 15px;
  padding-top: 50px;
}

/* Temorary copy color */
body {
  color: #ffffff;
}
.connections {
  display: inline-block;
  margin-left: 15px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #23262a;
}
div.col-md-3 > img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.col-list-name {
  display: table-cell;
  vertical-align: middle;
}
.booklist-wrap {
  display: table;
  overflow: hidden;
}
.outer-wrap {
  width: 435px;
}
div.container.outer-wrap {
  padding: 0;
}


/* Post rhythm */
/*
/*
 */

/* Form inverse */
.form-inverse-control {
  border-color: #2b2e33;
  transition: all ease-in-out .15s;
}
.form-inverse-control-width {
  display: inline-block;
  width: 300px;
}
.form-control-inline-label {
  display: inline-block;
  width: 150px;
  padding: .625rem;
  text-transform: uppercase;
  font-size: 12px;
  color: #515862;
  text-align: right;
  padding-right: 25px;
  margin-bottom: 5px;
}
fieldset.form-group.row {
  margin-bottom: 0;
}
div.form-inverse-control-width.pull-right {
  display: block;
  margin-top: 20px;
  margin-bottom: 55px;
  margin-right: .9375rem;
}




