.navbar-brand img{width:48px;}
body,html,#app,.app-landing{height:100%;}
body{font-family:'Lato',sans-serif;font-size:14px;background-color:rgba(250,250,250,1);}
.body-profiles{width:100%;height:100%;background:#fafafa;background:-webkit-linear-gradient(top,#fafafa 0%,#f2f2f2 100%);}
.site-wrapper{display:flex;flex-direction:column;height:100%;}
.navbar{padding-right:0!important;padding-left:0!important;}