{
  "presets": ["flow", "es2015", "stage-0", "react"],
  "plugins": [
    ["module-resolver", {
        "alias": {
          "js": "./app/js"
        }
    }],
    "transform-object-rest-spread"
  ]
}
