{
  "presets": ["flow", "es2015", "stage-0", "react"],
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
         "@components": "./app/js/components",
         "@styled": "./app/js/components/styled",
         "@utils": "./app/js/utils"
        }
      }
    ]
  ]
}
