# Please remove files from this ignore file as you work on them
# and remove the lint.
#
# Prepending a ! to a line un-ignores the files that match the pattern.

build/*
gulp/*
flow-typed/*

tests/account/*
tests/fixtures/*
tests/profiles/*
tests/store/*
tests/utils/a*
tests/utils/e*
tests/utils/n*

app/js/components/*
!app/js/components/Navbar*

app/js/profiles/store/*
app/js/profiles/tabs/*
app/js/profiles/Ex*
!app/js/profiles/Default*
app/js/profiles/Import*
app/js/profiles/ProfilesApp*
app/js/profiles/Reg*
!app/js/profiles/View
app/js/profiles/components/*
!app/js/profiles/components/Ident*
!app/js/profiles/components/registration*
!app/js/profiles/store/registration*
!app/js/profiles/store/identity*
