# Please remove files from this ignore file as you work on them
# and remove the lint.
#
# Prepending a ! to a line un-ignores the files that match the pattern.

build/*
gulp/*

tests/account/*
tests/fixtures/*
tests/profiles/*
tests/store/*
tests/utils/a*
tests/utils/e*
tests/utils/n*

app/js/account/A*
app/js/account/B*
app/js/account/C*
app/js/account/D*
app/js/account/store/settings*
app/js/account/components*

app/js/auth/*
app/js/components/*
!app/js/components/Navbar*

app/js/store/*
app/js/utils/*
!app/js/utils/account-utils*

app/js/profiles/store/*
app/js/profiles/tabs/*
app/js/profiles/AllProfiles*
app/js/profiles/Default*
app/js/profiles/E*
app/js/profiles/Import*
app/js/profiles/ProfilesApp*
app/js/profiles/Reg*
app/js/profiles/Search*
!app/js/profiles/View
app/js/profiles/components/*
!app/js/profiles/components/registration*
!app/js/profiles/store/registration*
