dist/
node_modules/
example/node_modules
example/dist
tests/screenshots/*
.env
.next
.idea
.DS_Store
.vercel
yarn-error.log
stacks-wallet-chromium.zip
packages
web-ext-artifacts/
.yalc/
yalc.lock
coverage/
