.backButton {
  position: relative;
}

.counter {
  position: relative;
  font-size: 10rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

.btnGroup {
  position: relative;
  width: 480px;
  margin: 0 auto;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  opacity: .7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}