:host { all: initial }

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.48);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  z-index: 9999;
}

.modal-body {
  width: 398px;
  max-width: 100%;
  max-height: calc(100% - 48px);
  background: white;
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  .pxl {
    padding-left: 24px;
    padding-right: 24px;
  }
  div {
    box-sizing: border-box;
  }
}

.pxl {
  padding-left: 32px;
  padding-right: 32px;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  svg {
    cursor: pointer;
  }
}

.modal-content {
  overflow-y: auto;
}

.modal-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding: 10px 32px;
  display: block;
  text-align: center;
}

.divider {
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #E5E5EC;
}

.intro-entry {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 32px;
  box-sizing: border-box;
}

.intro-entry-icon {
  align-self: stretch;
  margin-top: 4px;
  margin-right: 16px;
}

.intro-entry-copy {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  color: #222933;
  white-space: unset;
}

.button-container {
  padding: 10px 24px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-flex;
  line-height: 1.333;
  align-items: center;
  justify-content: center;
  background-color: #3700ff;
  color: #ffffff;
  min-height: 48px;
  min-width: 126px;
  font-size: 14px !important;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;

  span {
    align-items: center;
    -webkit-box-pack: center;
    font-weight: 500;
    line-height: 1.333;
    color: #ffffff;
    font-size: 14px !important;
    white-space: nowrap;
  }
}

.modal-footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 24px;
}

.link {
  color: #3700ff;
  margin-right: 16px;
  font-weight: 500;
  display: inline;
  font-size: 12px;
  line-height: 1.333;
  -webkit-letter-spacing: 0.00em;
  -moz-letter-spacing: 0.00em;
  -ms-letter-spacing: 0.00em;
  letter-spacing: 0.00em;
  white-space: unset;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-l {
  font-size: 14px;
}

.app-element-container {
  margin: 24px auto;
  display: flex;
  position: relative;
  width: 152px;
}

.app-element-app-icon {
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin-right: 24px;

  img {
    max-width: 100%;
  }
}

.app-element-link {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -12px;
}

// HOW IT WORKS

.how-it-works {
  padding: 24px;
  border-top: 1px solid rgb(229, 229, 236);
  width: 100%;
  .modal-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 10px;
  }
}

.label {
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #677282;
}

.hiw-content {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;

  .link {
    margin: 0;
  }
}

.hiw-question {
  display: block;
  margin-top: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.powered-by-container {
  width: 100%;
  padding: 24px;
  text-align: center;

  .powered-by {
    color: rgb(103, 114, 130);
    font-size: 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    svg {
      position: relative;
      top: 2px;
      display: inline-block;
      margin: 0 4px;
    }
  }
}